
<div style="position: absolute; border: 4px solid yellow; width: 80%; height:100%; top: 30px; left: 60px; padding: 20px"></div>

    <div style="position: absolute; border: 4px solid yellow; width: 40%; height:50%; top: 30%; left: 60px; padding: 20px;background-image: url('../../image/MONEY PIC.jpg');">

        <img src="~/image/MONEY PIC.jpg" width="40" height="50" />

    </div>
